.search-form {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /* margin: 20px 0 20px 0; */
}

.search-form-input {
  width: 70%;
  margin-bottom: .8em;
  padding: 1em;
}

.search-form-submit {
  padding: 1em;
  width: 10em;
  float: right;
}